ol {
    background-color: yellow;
    width: 1050px;
}

.even {
    color: green;
}

.odd {
    text-transform: uppercase;
}

h1, h3 {
    color: red;
}

h1 em {
    width: 40px;
    border: 1px solid black;
}

li {
    font-size: 20px;
}

li em {
    font-weight: bold;
}