.super-mario {
    width: 200px;
    position: absolute;
    top: 150px;
    float:initial;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    top: 445px;
    left: 60px;
    
    
  }
  
  .baloon {
    position: absolute;
    z-index: 1;
    top: 280px;
    left: 300px;
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    z-index: 2;
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    left: 600px;
    top: 415px;
  }