[submodule "front-end/bloco9/dia3/exercise-magic-card"]
	path = front-end/bloco9/dia3/exercise-magic-card
	url = git@github.com:talesrodriguesDEV/exercise-magic-card.git
[submodule "front-end/bloco11/dia1/exercise-pokedex-state"]
	path = front-end/bloco11/dia1/exercise-pokedex-state
	url = git@github.com:talesrodriguesDEV/exercise-pokedex-state.git
[submodule "front-end/bloco12/dia1/exercise-dog-image"]
	path = front-end/bloco12/dia1/exercise-dog-image
	url = git@github.com:talesrodriguesDEV/exercise-dog-image.git
[submodule "front-end/bloco12/dia2/exercise-pokedex-router"]
	path = front-end/bloco12/dia2/exercise-pokedex-router
	url = git@github.com:talesrodriguesDEV/exercise-pokedex-router.git
[submodule "front-end/bloco14/dia1/exercise-todo-list"]
	path = front-end/bloco14/dia1/exercise-todo-list
	url = git@github.com:talesrodriguesDEV/exercise-todo-list.git
[submodule "front-end/bloco14/dia2/exercise-digimon-finders"]
	path = front-end/bloco14/dia2/exercise-digimon-finders
	url = git@github.com:talesrodriguesDEV/exercise-digimon-finders.git
[submodule "front-end/bloco15/dia2/exercise-react-with-redux-intro"]
	path = front-end/bloco15/dia2/exercise-react-with-redux-intro
	url = git@github.com:talesrodriguesDEV/exercise-react-with-redux-intro.git
[submodule "front-end/bloco15/exercise-forms-redux"]
	path = front-end/bloco15/exercise-forms-redux
	url = git@github.com:talesrodriguesDEV/exercise-forms-redux.git
